.mainDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mainDiv header {
    width: 100%;
}

.ListContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    padding: 4rem 1.5rem;
    border-top: 1px solid var(--gray-400);
    border-radius: 0.5rem;
    width: 45rem;
}

.textBox{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    font-weight: 400;
    font-size: 1rem;
    line-height: 140%;
}

.Clipboard{
    width: 3.5rem;
    height: 3.5rem;
}

.Empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}